[submodule "plugins/facedet"]
	path = plugins/facedet
	url = https://github.com/zhuth/jindai.plugins.facedet
[submodule "plugins/jiayan"]
	path = plugins/jiayan
	url = https://gist.github.com/zhuth/43ac2eb922657355f993504f1f38d97d
[submodule "plugins/blockly/blockly"]
	path = plugins/blockly/blockly
	url = https://github.com/google/blockly
[submodule "plugins/nima"]
	path = plugins/nima
	url = https://github.com/zhuth/jindai.plugins.nima
[submodule "plugins/autocompletion"]
	path = plugins/autocompletion
	url = https://gist.github.com/zhuth/52cae0f9eddd7b8aa317f326928fdb96
