.vscode/
.DS_*
.venv
config*.yaml
dump*
_*.sh
*.h5
*.xlsx
*.zip
*-secrets.json
# Byte-compiled / optimized / DLL files
__pycache__/
cache/
*.py[cod]
*$py.class
core
._*
*.swp
docker-compose.yaml
*.db
*.pickle
tests/