services:
  jindai:
    image: jindai
    container_name: jindai
    ports:
      - 8370:8370
    volumes:
      - ./jindai-sources:/sources
    environment:
      - CONFIG_FILE=config-jindai.yaml
    entrypoint: bash /app/start.sh
    restart: always
  tl-mongo:
    image: mongo
    container_name: jindai-mongo
    ports:
      - 27017:27017
    volumes:
      - ./mongo-data:/data/db
    restart: always