bs4
flask
pymongo
https://github.com/zhuth/PyMongoWrapper/archive/master.zip
opencc-python-reimplemented
fitz
openpyxl
https://github.com/kpu/kenlm/archive/master.zip
jiayan
click
tqdm
pandas
xlsxwriter
pdf2image
pyyaml
pykakasi
transliterate
nltk
gensim
hanlp
spacy
snownlp
many_stop_words
socketio
gevent
flask-sock
bert4keras
tensorflow
