bs4
flask
pymongo
https://github.com/zhuth/PyMongoWrapper/archive/master.zip
opencc-python-reimplemented
fitz
openpyxl
https://github.com/kpu/kenlm/archive/master.zip
jiayan
jieba
pytesseract
click
tqdm
pandas
xlsxwriter
pdf2image
pyyaml
pykakasi
transliterate
nltk
gensim
hanlp
spacy
snownlp
many_stop_words
bert4keras
tensorflow
requests
lxml
torchvision
h5py
python-twitter
scipy
Pillow
fire
gunicorn
requests-oauthlib
ImageHash
torch
scikit-image
imageio
ipython
numpy
PyWavelets
opennsfw-standaloneoauthlib
