jieba
bs4
flask
pymongo==3.11.3
https://github.com/zhuth/PyMongoWrapper/archive/master.zip
fitz
iso639-lang
click
tqdm
pdf2image
pyyaml
inotify
requests
requests-oauthlib
requests-cache
lxml
h5py
python-twitter
scipy
Pillow
gunicorn
matplotlib
oauthlib
ImageHash
scikit-image
imageio
ipython
numpy
PyWavelets
pyotp
rarfile
unrar
opencc-python-reimplemented
waitress
pysmb
pymupdf
