textarea {
    width: 100%;
    height: 50px;
}

div.row {
    width: 100%;
    margin: 10px auto;
    clear: both;
    max-width: 800px;
}

h1 {
    margin: 10px auto;
}

div.column {
    height: 100%;
    float: left;
}

* {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-stretch: 100%;
    margin: 0 auto;
    padding: 0;
}

form {
    max-width: 800px;
    width: 100%;
}

img[alt="Logo"] {
    padding-top: 10%;
    display: block;
    width: 200px;
    height: auto;
}

select {
    max-width: 50%;
}

.column img {
    width: 100%;
    height: auto;
}

.results {
    max-width: 800px;
    margin: 10px auto;
}

.results li {
    margin-bottom: 10px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.results li a {
    text-decoration: dashed;
    color: dodgerblue;
}

.results li p {
    padding-top: 5px;
    overflow-wrap: break-word;
}

.results li span {
    color: #555;
}

div[data-lang]>span {
    color: #555;
}

div[data-lang]>span a {
    color: #555;
    text-decoration: dashed;
}

input[name="q"] {
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 1px;
    cursor: text;
    display: inline-block;
    font-weight: 400;
    height: 35px;
    max-width: 800px;
    width: 100%;
    clear: right;
    margin-bottom: 10px;
}

form button {
    align-items: flex-start;
    background-color: rgb(48, 48, 48);
    background-position-x: -288px;
    background-position-y: -128px;
    border-color: rgb(16, 16, 16);
    border-radius: 2px;
    border-style: solid;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    margin-top: 10px;
    padding: 1px 6px 6px 1px;
    display: block;
    text-align: center;
    text-indent: 0px;
    width: 120px;
    word-spacing: 0;
    clear: both;
}

.nav {
    max-width: 800px;
    text-align: center;
    padding-bottom: 20px;
}

.nav>button {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 5px;
}

.nav>.prev_page::before {
    content: "\f0d9\20";
}

.nav>.next_page::after {
    content: "\20\f0da";
}

i.question::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f059";
}

a#show_help {
    color: #333;
    text-decoration: none;
}

div[data-lang] span.meta {
    visibility: hidden;
    font-size: 12px;
}

div[data-lang]:hover span.meta {
    visibility: visible;
}

p em {
    font-style: normal;
    background-color: yellow;
}

footer {
    position: fixed;
    bottom: 0;
    left: 5%;
}