<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <form action="" method="post">
        <img src="static/logo.png" alt="Logo"><br />
        <input type="text" name="u" placeholder="Username"><br />
        <input type="password" name="p" placeholder="Password (phone number)"><br />
        <input type="submit" value="Log In">
    </form>

</body>
</html>