<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>阅览 {{ pdffile }} {{ pdfpage }} {{ outline }}</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="nav">
        <form action="" method="GET">
            <input type="hidden" name="collection" value="{{ name }}">
            <input type="hidden" name="pdffile" value="{{ pdffile }}">
            {{ pdffile }}
            <input type="text" name="pdfpage" value="{{ pdfpage }}" size="3">
        </form>
        {% if prev_para %}<button href="{{ prev_para }}" class="prev_page">上一段</button>{% endif %}
        {% if next_para %}<button href="{{ next_para }}" class="next_page">下一段</button>{% endif %}
        <a href="#" onclick="toSimpAll()">繁→简</a>
    </div>
    <div class="row">
        {% if outline %}<h1>大纲编号: {{ outline }}</h1>{% endif %}
        {% for lang, lang_corpus in corpus %}
        <div class="column">
            {% for p in lang_corpus %}
            <div data-lang="{{ lang }}">
                <span class="operations">
                    <a class="oper_delete" href="change/{{p._id}}/delete"></a>
                </span>
                <span class="meta">页面：<a href="?pdffile={{ p.pfdfile }}&pdfpage={{ p.pagenum }}&collection={{ name }}">{{ p.pdffile }} {{ p.pagenum }}</a>
                    {% if p.outline %} <a href="?outline={{ p.outline }}&collection={{ name }}">{{ p.outline }}</a>{% endif %}
                RID#{{ p._id }}
                [{{ p.lang }}] {{ p.year or '' }}</span>
                <p lang="{{lang}}" href="change/{{p._id}}/edit">{{p.content|safe}}</p>
            </div>
            {% endfor %}
            {% if imgs[lang] %}
            <img src="image{{ imgs[lang] }}">
            {% endif %}
        </div>
        {% endfor %}
    </div>

<script src="static/trad2simp.js"></script>
<script src="static/jquery.min.js"></script>
<script>
    const $ = jQuery;
    
    function toSimpAll() {
        $('p[lang="cht"]').each((i, x) => {
            $(x).html(toSimp($(x).html()))
        })
    }

    $(function () {

        const deal = data => {
            if (data.error) alert(data.error);
            else location.reload();
        };

        $('.operations a').each((i, x) => {
            let h = $(x).attr('href');
            $(x).data('href', h).attr('href', 'javascript:void(0);');
        }).bind('click', (e) => {
            let h = $(e.target).data('href');
            $.get(h).then(deal);
        });

        $('p[lang]').dblclick((e) => {
            var $t = $(e.target);
            if ($t.children('textarea').length || e.target.tagName === 'TEXTAREA') return;
            const $theight = $t.height();
            const t = $t.text();
            $t.html('<textarea>' + t + '</textarea>');
            $t.find('textarea').css('min-height', $theight);
        });

        $(document).on('click', 'button[href]', (e) => {
            location.href = $(e.target).attr('href');
        }).on('blur', 'textarea', (e) => {
            $.post($(e.target).parent().attr('href'), {
                content: $(e.target).val()
            }).then(deal);
        }).on('keyup', (e) => {
            if (e.target.tagName === 'TEXTAREA') return;
            switch (e.key) {
                case "ArrowLeft":
                    $('.nav .prev_page')[0].click();
                    break;
                case "ArrowRight":
                    $('.nav .next_page')[0].click();
                    break;
                case "s":
                case "S":
                case "t":
                case "T":
                    var oper = (e.shiftKey) ? "next" : "prev";
                    var lang = (e.key.toLowerCase() === 's') ? "chs" : "cht";
                    const aas = $('[data-lang="' + lang + '"] .operations a.oper_' + oper);
                    ((oper == 'next') ? aas[aas.length - 1] : aas[0]).click();
                    break;
            }
        });

        const cols = $('.column').length;
        
        if (cols && window.innerWidth >= 500) {
            $('.column').width((100/cols)+'%');
        }

    });
</script>

</body>
</html>
